<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="theme-color" content="#fff">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/website/margeriam/meta/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/website/margeriam/meta/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/website/margeriam/meta/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('build/website/margeriam/meta/manifest.json') }}">
    <link rel="mask-icon" href="{{ asset('build/website/margeriam/meta/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-config" content="{{ asset('build/website/margeriam/meta/browserconfig.xml') }}">
    <meta name="msapplication-TileColor" content="#da532c">

    {% block meta %}
        {% set seo = extension.seo|default([]) %}
        {% set seoTitle = seo.title|default(content.title|default()) %}
        {% set seoTitle = seoTitle ~ ' | Margeriam' %}
        {% set seo = seo|merge({'title': seoTitle}) %}
        {% include "@SuluWebsite/Extension/seo.html.twig" with {
            "seo": seo,
            "content": content|default([]),
            "urls": urls|default([]),
            "shadowBaseLocale": shadowBaseLocale|default(),
            "defaultLocale": app.request.locale
        } %}
    {% endblock %}

    {% set containsGallery = false %}
    {% for block in content.content %}
        {% if block.type == 'imageGallery' %}
            {% set containsGallery = true %}
        {% endif %}
    {% endfor %}
    {% block style %}
        {{ encore_entry_link_tags('margeriam_app') }}
        {% if containsGallery %}
            {{ encore_entry_link_tags('margeriam_gallery') }}
            <style>
                .gallery {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin: 5rem 0;
                }
                .gallery figure {
                    margin: 0.5rem;
                    max-width: calc(100% - 1rem);
                }
                .gallery figure img {
                    max-width: 100%;
                }
                .gallery figcaption {
                    display: none;
                }
            </style>
        {% endif %}
    {% endblock %}
</head>
<body data-sentry="{{ sentry_dsn }}">
    <ul class="language-switcher">
        {%- if urls|length > 1 -%}
            {%- for locale, url in urls -%}
                <li>
                    {% if app.request.locale|split('_')[0] == locale %}
                        <span>
                            {{ locale }}
                        </span>
                    {% else %}
                        <a href="{{ sulu_content_path(url, null, locale) }}" rel="prefetch">
                            {{ locale }}
                        </a>
                    {% endif %}
                </li>
            {%- endfor -%}
        {%- endif -%}
    </ul>
    <header>
        {% block header %}
            <div class="header__container">
                <p class="header__title">
                    Margeriam
                </p>
                <p class="header__subtitle">
                    <span>
                        Photography
                    </span>
                    <span>
                        for businesses and brands
                    </span>
                </p>
            </div>
            <nav>
                <ul>
                    <li>
                        <a rel="prefetch" title="Portfolio" href="{{ sulu_content_root_path() }}">{{ 'Portfolio'|trans }}</a>
                    </li>

                    {% for item in sulu_navigation_root_tree('main') %}
                        <li>
                            <a href="{{ sulu_content_path(item.url, item.webspaceKey) }}"
                               title="{{ item.title }}"
                               target="{% if item.nodeType == 4 %}_blank{% else %}_self{% endif %}"
                               rel="prefetch">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
            <img class="header__separator" src="{{ asset('build/website/margeriam/img/arabesk.svg') }}" alt="Separator">
        {% endblock %}
    </header>
    <main>
        {% block content %}
            <h1 class="hidden">{{ content.title }}</h1>

            {% for block in content.content %}
                {% include 'types/' ~ block.type ~ '.html.twig' with {'block': block} only %}
            {% endfor %}
        {% endblock %}
    </main>
    <footer>
        {% block footer %}
            <p>Copyright {{ 'now'|date('Y') }} Margeriam</p>
        {% endblock %}
    </footer>

    {% block javascripts %}
        {{ encore_entry_script_tags('margeriam_app') }}
        {% if containsGallery %}
            {{ encore_entry_script_tags('margeriam_gallery') }}
            <script>
				if ('loading' in HTMLImageElement.prototype) {
					const images = document.querySelectorAll('img[loading="lazy"]');
					images.forEach(img => {
						img.src = img.dataset.src;
					});
				} else {
					// Dynamically import the LazySizes library
					const script = document.createElement('script');
					script.src = {{ asset('build/website/margeriam/lazysizes/lazysizes.min.js') }};
					document.body.appendChild(script);
				}
            </script>
        {% endif %}
    {% endblock %}
</body>
</html>
